<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.mapper.program.ProgramEvaluationMapper">
    <resultMap id="BaseResultMap" type="com.js.pojo.program.ProgramEvaluation">
        <id column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="assessor" property="assessor" jdbcType="VARCHAR"/>
        <result column="program_file_id" property="programFileId" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="DECIMAL"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="reviewer" property="reviewer" jdbcType="VARCHAR"/>
        <result column="evaluation_status" property="evaluationStatus" jdbcType="CHAR"/>
        <result column="academic_year" property="academicYear" jdbcType="VARCHAR"/>
        <result column="academic_term" property="academicTerm" jdbcType="CHAR"/>
        <result column="teaching_week" property="teachingWeek" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
		uuid, assessor, program_file_id, score, comment, reviewer, evaluation_status, academic_year,
		academic_term, teaching_week
	</sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from program_evaluation
        where uuid = #{uuid,jdbcType=VARCHAR}
    </select>
    <select id="selectByMess" resultMap="BaseResultMap" parameterType="com.js.pojo.program.ProgramEvaluation">
        select
        <include refid="Base_Column_List"/>
        from program_evaluation
        <where>
            <if test="programFileId != null">
                and program_file_id = #{programFileId}
            </if>
            <if test="evaluationStatus != null">
                and evaluation_status = #{evaluationStatus}
            </if>
            <if test="academicYear != null">
                and academic_year = #{academicYear}
            </if>
            <if test="academicTerm != null">
                and academic_term = #{academicTerm}
            </if>
            <if test="teachingWeek != null">
                and teaching_week = #{teachingWeek}
            </if>
        </where>
        order by teaching_week desc
    </select>
    <delete id="deleteProgramEvaluation" parameterType="java.lang.String">
		delete from program_evaluation
		where uuid = #{uuid,jdbcType=VARCHAR}
	</delete>
    <insert id="addProgramEvaluation" parameterType="com.js.pojo.program.ProgramEvaluation">
        insert into program_evaluation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="assessor != null">
                assessor,
            </if>
            <if test="programFileId != null">
                program_file_id,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="reviewer != null">
                reviewer,
            </if>
            <if test="evaluationStatus != null">
                evaluation_status,
            </if>
            <if test="academicYear != null">
                academic_year,
            </if>
            <if test="academicTerm != null">
                academic_term,
            </if>
            <if test="teachingWeek != null">
                teaching_week,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="assessor != null">
                #{assessor,jdbcType=VARCHAR},
            </if>
            <if test="programFileId != null">
                #{programFileId,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=DECIMAL},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="reviewer != null">
                #{reviewer,jdbcType=VARCHAR},
            </if>
            <if test="evaluationStatus != null">
                #{evaluationStatus,jdbcType=CHAR},
            </if>
            <if test="academicYear != null">
                #{academicYear,jdbcType=VARCHAR},
            </if>
            <if test="academicTerm != null">
                #{academicTerm,jdbcType=CHAR},
            </if>
            <if test="teachingWeek != null">
                #{teachingWeek,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="editProgramEvaluation" parameterType="com.js.pojo.program.ProgramEvaluation">
        update program_evaluation
        <set>
            <if test="assessor != null">
                assessor = #{assessor,jdbcType=VARCHAR},
            </if>
            <if test="programFileId != null">
                program_file_id = #{programFileId,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=DECIMAL},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="reviewer != null">
                reviewer = #{reviewer,jdbcType=VARCHAR},
            </if>
            <if test="evaluationStatus != null">
                evaluation_status = #{evaluationStatus,jdbcType=CHAR},
            </if>
            <if test="academicYear != null">
                academic_year = #{academicYear,jdbcType=VARCHAR},
            </if>
            <if test="academicTerm != null">
                academic_term = #{academicTerm,jdbcType=CHAR},
            </if>
            <if test="teachingWeek != null">
                teaching_week = #{teachingWeek,jdbcType=INTEGER},
            </if>
        </set>
        where uuid = #{uuid,jdbcType=VARCHAR}
    </update>
</mapper>
